
        <!-- End MAIN Content -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Footer -->
<footer class="footer">
    <div class="text-center col-sm-12 pt-4">
	<span><b>Wallet version</b>: $walletVersion <b>Protocol version</b>: $protocolVersion <b>Blocks</b>: $blockCount</span>
	<br>
        <span>Copyright &copy; 2018 Aegeus</span>
    </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Address Modal -->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="address-list">
                    #if ( ! $addrs.empty && $addrs.size() > 1)
                        #foreach( $addr in $addrs )
                            #if ( $addr.label != "" && ! $addr.watchOnly )
                                <li>( $addr.label ) <a href="/portal/files?addr=$addr.address">$addr.address</a>
                            #end
                        #end
                </ul>
		    #elseif ($addrs.size() == 1 && $addrs[0].label != "" && ! $addrs[0].watchOnly)
			<input type=hidden name="file_link" value="/portal/files?addr=$addrs[0].address">
		        <input type=hidden name="nomodal" value="true">
		    #else
		        <input type=hidden name="nomodal" value="true">
		        <input type=hidden name="nomodal_message" value="Assign, fund and register an address first to add content">
                    #end
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.js"><\/script>')</script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/sb-admin.min.js"></script>
<script src="/js/selectText.js"></script>

$customJS

<script type="text/javascript">
    (function($) {
        $(document).on('click', '.show-select-address', function(e) {
            e.preventDefault();
	    var no_modal = $("input[name=nomodal").val();
	    var file_link = $("input[name=file_link").val();
	    var nomodal_message = $("input[name=nomodal_message").val();
	    var files_url = "/portal/addresses";

	    if (no_modal === "true" && file_link) {
	      window.location.href = file_link
	    } else if (no_modal === "true" && nomodal_message) {
	      $("#warning_messages").html(nomodal_message + " - <a href='/portal/addresses'>Click Here</a>");
	    } else {
              $('#addressModal').modal('toggle');
	    }
        });
    })(jQuery);
</script>
</body>
</html>
