<html>

<head>
<link rel="stylesheet" href="/css/demo.css">
<title>NO SUPPOSED TO BE USED</title>
</head>

<body>
<table>
<tr>
<td><img alt="logo" width="111" height="54" data-sticky-width="82" data-sticky-height="40" data-sticky-top="33" src="/img/logo.png"></td>
<td valign="bottom"><a href="/portal">Home</a></td>
<tr>
</table>

<h1>Add Content</h1>

<table>
<tr class="gray">
    <td>$addr.label</td>
    <td><a href="/portal/files?addr=$addr.address">$addr.address</a></td>
    <td>$addr.balance</td>
</tr>
</table>

<h2>Add by Content</h2>

<table>
<tr>
    <td>
        <form action="/portal/addtxt">
        <input name="addr" type="hidden" value="$addr.address">
        <input name="path" type="text" size="80" value="$addr.label/file01.txt">
    </td>
</tr>
<tr>
    <td>
        <textarea name="content" rows="10" cols="80">The cat was playing in the garden.</textarea>
    </td>
</tr>
<tr>
    <td>
        <input type="submit">
        </form>
    </td>
</tr>
</table>

<h2>Add by URL</h2>

<table>
<tr>
    <td>
        <form action="/portal/addurl">
        <input name="addr" type="hidden" value="$addr.address">
        <input name="path" type="text" size="80" value="$addr.label/README.md">
    </td>
</tr>
<tr>
    <td>
        <input name="url" type="text" size="80" value="https://raw.githubusercontent.com/AegeusCoin/aegeus/master/README.md">
    </td>
</tr>
<tr>
    <td>
        <input type="submit">
        </form>
    </td>
</tr>
</table>

</body>
</html>
