#set( $filesActive = 'active' )
#set( $navTitle = 'Send File' )
#set( $crumb = 'Send File' )
#parse( "templates/header.vm" )
    <div class="row">
        <div class="col-xl-12 col-sm-12">
            <table>
                <form action="/portal/sendcid">
                    <input type="hidden" name="fromaddr" value="$addr.address">
                    <input type="hidden" name="cid" value="$file.cid">
                    <tr>
                        <th>File</th>
                        <td><a href="$gatewayUrl/$file.cid" target="_blank">$file.cid</a></td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>
			    #if ($toaddrs.size() == 1)
                                <input type=hidden name="toaddr" value="$toaddrs[0].address">
                                &nbsp;&nbsp;&nbsp;$toaddrs[0].label - $toaddrs[0].address
			    #else
                            <select name="toaddr">
                                #foreach( $toaddr in $toaddrs )
                                    #if ( $toaddr.watchOnly )
                                        <option value="$toaddr.address">$toaddr.label - $toaddr.address</option>
                                    #end
                                #end
                            </select>
			    #end
                            <button type="submit" class="btn btn-outline-primary btn-sm">send</button>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
#set( $customJS = '' )
#parse( "templates/footer.vm" )
